/* 현주 - Research - 논문 */


body{
    margin:0px;
    position: absolute;
    width: 1440px;
    height: 1024px+561px+418px; /*헤더+본문+푸터*/
    background: #E6E6E6;
    }
    
    article{position: relative;
        width: 1440px;
        height: 1024px;
        top:561px; 
        overflow: scroll;
    }


/* 연구논문 */

h1{position: absolute;
width: 220px;
height: 52px;
left: 614px;
top: 101px;

font-family: 'Inter';
font-weight: 900;
font-size: 50px;
line-height: 61px;
text-align: center;

color: #000000;}


/* Research */

h5{position: absolute;
width: 87px;
height: 24px;
left: 681px;
top: 167px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;}



/* 연구 1 */

#box1{position: absolute;
width: 1142px;
height: 316px;
left: calc(50% - 1142px/2);
top: 281px;

background: #D9D9D9;}


/* 김장현 글로벌융합학부장, ‘융합은 용기다’ 기고 */

#title1{position: absolute;
width: 1000px;
height: 80px;
left: 211px;
top: 330px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 42px;

color: #000000;}


/* 2023-05-23 */

#date1{position: absolute;
width: 128px;
height: 27px;
left: 211px;
top: 396px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #585353;}


/* 2023-2학기 글로벌융합학부 소속 융합전공 진입신청 공고를 다음과 같이 하오니, 융합전공 진입머하여튼 어ㅓㅓㅓㅓㅓㅓㅓㅓㅓ쩌구 저ㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓ */

#content1{position: absolute;
width: 1048px;
height: 108px;
left: 211px;
top: 445px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;}





/* 연구 2 */

#box2{position: absolute;
width: 1142px;
height: 316px;
left: calc(50% - 1142px/2);
top: 632px;

background: #D9D9D9;}


/* 김장현 글로벌융합학부장, ‘융합은 용기다’ 기고 */

#title2{position: absolute;
width: 1000px;
height: 80px;
left: 211px;
top: 681px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 42px;

color: #000000;}


/* 2023-05-23 */

#date2{position: absolute;
width: 128px;
height: 27px;
left: 211px;
top: 747px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #585353;}



/* 2023-2학기 글로벌융합학부 소속 융합전공 진입신청 공고를 다음과 같이 하오니, 융합전공 진입머하여튼 어ㅓㅓㅓㅓㅓㅓㅓㅓㅓ쩌구 저ㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓ */

#content2{position: absolute;
width: 1048px;
height: 108px;
left: 211px;
top: 796px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;}





/* 연구 3 */

#box3{position: absolute;
width: 1142px;
height: 316px;
left: calc(50% - 1142px/2);
top: 983px;

background: #D9D9D9;}



/* 김장현 글로벌융합학부장, ‘융합은 용기다’ 기고 */

#title3{position: absolute;
width: 1000px;
height: 80px;
left: 211px;
top: 1032px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 42px;

color: #000000;}



/* 2023-05-23 */

#date3{position: absolute;
width: 128px;
height: 27px;
left: 211px;
top: 1098px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #585353;}


/* 2023-2학기 글로벌융합학부 소속 융합전공 진입신청 공고를 다음과 같이 하오니, 융합전공 진입머하여튼 어ㅓㅓㅓㅓㅓㅓㅓㅓㅓ쩌구 저ㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓ */

#content3{position: absolute;
width: 1048px;
height: 108px;
left: 211px;
top: 1147px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;}



/* Rectangle 34 */

#button{position: absolute;
width: 242px;
height: 48px;
left: 599px;
top: 1385px;

background: #8F8F8F;}


/* Learn More */

.button{position: absolute;
width: 170px;
height: 50px;
left: 636px;
top: 1383px;
text-decoration: none;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;}